<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net472" />
  <package id="DynamicLanguageRuntime" version="1.2.3" targetFramework="net472" />
  <package id="Fluent.Ribbon" version="7.1.0" targetFramework="net472" />
  <package id="IronPython" version="2.7.10" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
</packages>