---
---

@import "{{ site.theme }}";

.project-name::before {
	display:inline-block;
	content: " ";
	width:4rem;
	height:4rem;
	background-image: url(../img/bkt_logo_1.0.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position:relative;
	left:-1rem;
	bottom:-0.5rem;
	border-radius:4px;
}

.project-name a {
	color: white;
}

.main-content table {
	display:table;
	font-size: 0.9rem;
	table-layout: fixed;
}


.tables-comparison th:first-child,
.tables-comparison td:first-child {
	width: 60%;
}
.tables-comparison th:nth-child(2),
.tables-comparison td:nth-child(2) {
	width: 20%;
}
.tables-comparison th:nth-child(3),
.tables-comparison td:nth-child(3) {
	width: 20%;
}

@media screen and (min-width: 88em) {
	.main-content {
		max-width: 88rem;
	}
}