---
---

@import "{{ site.theme }}";

.project-name::before {
	display:inline-block;
	content: " ";
	width:4rem;
	height:4rem;
	background-image: url(../img/bkt_logo_1.0.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position:relative;
	left:-1rem;
	bottom:-0.5rem;
	border-radius:4px;
}

.project-name a {
	color: white;
}

.main-content table {
	display:table;
	font-size: 0.9rem;
	table-layout: fixed;
}

.main-content th:first-child,
.main-content td:first-child {
	width: 40%;
}

@media screen and (min-width: 88em) {
	.main-content {
		max-width: 88rem;
	}
}